<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD Operation application</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">
</head>

<body>
    <div class="container">
        <div class="col col-md-9">
            <h3>Add New Employee</h3>
            <!-- <div id="message"></div> -->
            <form class="col" id="createEmployee">
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="name">First Name</label>
                        <input type="hidden" name="empid" id="empid" value="" >
                        <input type="text" class="form-control" name="fname" id="name" placeholder="First Name" >
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="ltName">Last Name</label>
                        <input type="text" class="form-control" id="lName" name="lName" placeholder="Last Name" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="fathersName">Father's Name</label>
                        <input type="text" class="form-control" name="fathersName" id="fathersName" placeholder="Father's Full Name" >
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="mothersName">Mothers's Name</label>
                        <input type="text" class="form-control" id="mothersName" name="mothersName" placeholder="Mother's Full Name" >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" >
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="contactNo">Contact No.</label>
                        <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact No" >
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="aadharNo">Aadhar No</label>
                        <input type="text" class="form-control" name="aadharNo" id="aadharNo" placeholder="Aadhar No " >
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="pancardNo">Pancard No.</label>
                        <input type="text" class="form-control" id="pancardNo" name="pancardNo" placeholder="Pancard No" >
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="">Gender </label>
                        </div>
                        <div class="form-group  col col-md-4 col-sm-4">
                            <input type="radio" id="male" name="gender" value="m" class="custom-control-input" >
                            <label class="custom-control-label" for="male">Male</label>
                        </div>
                        <div class="form-group  col col-md-4 col-sm-4">
                            <input type="radio" id="female" name="gender" value="f" class="custom-control-input" >
                            <label class="custom-control-label" for="female">Female</label>
                        </div>
                        <div class="form-group  col col-md-4 col-sm-4">
                            <input type="radio" id="other" name="gender" value="o" class="custom-control-input" >
                            <label class="custom-control-label" for="other">Other</label>
                        </div>
                    </div>

                    <div class="col col-md-6 col-sm-6">
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="custom-control-label" for="dob">Date of Birth</label>
                                <input type="text" class="form-control date"  id="dob"  name="dob" placeholder="Date of Birth" >
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group  col col-md-12 col-sm-12">
                        <label class="custom-control-label" for="technology">Technology </label>
                    </div>

                    <div class="custom-control custom-checkbox" id="technology">
                        <div class="form-group col col-md-3 col-sm-3">
                            <input type="checkbox" class="custom-control-input" value="HTML5" name='technology1' id="customCheck1" >
                            <label class="custom-control-label" for="customCheck1">HTML5</label>

                        </div>
                        <div class="form-group col col-md-3 col-sm-3">
                            <input type="checkbox" class="custom-control-input"  value="Java Script" name="technology2" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">Java Script</label>
                        </div>
                        <div class="form-group col col-md-3 col-sm-3">
                            <input type="checkbox" class="custom-control-input"  value="CSS" name="technology3" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">CSS</label>
                        </div>
                        <div class="form-group col col-md-3 col-sm-3">
                            <input type="checkbox" class="custom-control-input"  value="Node" name="technology4" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4">Node</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="">
                        <label class="form-group col-md-12 col-sm-12">Address</label>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 col-sm-6">
                            <select class="selectpicker form-control" data-live-search="true" name="country" id="country"> </select>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <select class="selectpicker form-control" data-live-search="true" name="state" id="state" ></select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col col-md-6 col-sm-6">
                            <label for="inputCity">City</label>
                            <select class="selectpicker form-control" data-live-search="true" name="city" id="city" ></select>
                        </div>

                        <div class="form-group col-md-6  col-sm-6">
                            <label for="zipCode">Pin Code</label>
                            <input type="text" class="form-control" name="zipCode" id="zipCode">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12  col-sm-12">
                        <textarea class="form-control" name="address" id="address" placeholder="Enter full address"rows="3" ></textarea>
                    </div>
                </div>

                <div class="form-group col col-md-6 col-sm-6">
                    <button type="submit" class="btn btn-success pull-right">Create</button>
                </div>

                <div class="form-group col col-md-6 col-sm-6">
                    <button type="reset" class="btn btn-warning">reset</button>
                </div>

                <!-- form ends -->
            </form>
            <!-- form col ends -->
        </div>

        
        <!-- file uploader -->
        <form id='fileForm' method="post" enctype="multipart/form-data"  class="form-inline alert-success  col col-md-12 col-sm-12" >
            <div class="form-group col col-md-6 col-sm-6">
                <label for="file" class="sr-only">Select File</label>
                <input type="file" class="form-control-file" name='file' id="file">
            </div>
            <div class="form-group  col col-md-6 col-sm-6">
                <input type="button" onclick="readFileContents()" class="form-control btn btn-primary"  name="submit" value="submit">
            </div>
        </form>
        <!-- file uploader ends here  -->

        <!-- Download all data -->
        <form  class="form-inline alert-success  col col-md-12 col-sm-12" >
            <div class="form-group col col-md-12 col-sm-12">
                <label for="download" class="sr-only">Click to download all recorde</label>
                <input type="button" onclick="downloadFile()" class="form-control btn btn-warning"  name="download"  id="download" value="download">
            </div>
               
        </form>
        <!-- Download all data ends -->


        <div class="col col-md-12 col-sm-12"><h1>Data in table</h1></div>
        <div id="message1" class="col col-md-12 col-sm-12"></div>
        <div id="retriveData"></div>
        <div id="pagination" class="col col-md-12 col-sm-12"></div> 
        <!-- container ends -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog pull-right">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title" id="message" ></h6>
                </div>
            </div>
        </div>
    </div>
    <!-- model ends -->

    <!-- java scripts here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>

    <script src="./helper/address.js"></script>
    <script src="./helper/helperFun.js"></script>
    <script src="./js/employee.js"></script>
1    <!-- <script  type="module" src="./js/employee.js"></script> -->
    
</body>

</html>